@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "status-bar.css";
body {
  font-family: "Nunito Sans", sans-serif;
}
.header-welcome {
  margin-top: 95px;
  margin-bottom: 75px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-welcome__title {
  margin-bottom: 35px;
  font-size: 25px;
}
.header-welcome__text {
  width: 60%;
  opacity: 0.7;
}
.form-login1,
.form-login2 {
  display: flex;
  flex-direction: column;
  margin: 0px 28px;
}
.form-login1 input,
.form-login2 input {
  border: none;
}
.form-login1 {
  margin-bottom: 44px;
}
.form-login1 input {
  border-bottom: 1.3px solid rgb(0, 0, 0, 0.4);
  font-size: 20px;
  padding: 30px 0px;
}
.form-login1 input::placeholder {
  color: rgb(0, 0, 0, 0.4);
}
.form-login2 input {
  margin-bottom: 14px;
  padding: 22px 0px;
  border-radius: 5px;
  font-size: 20px;
}
