.badge{
    color: white;
    font-weight: 600;
    background-color: tomato;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.badge2{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    display: flex;
    position: absolute;
    left: 29px;
    bottom: 28px;
}
.replace{
    left: 71px;
    bottom: 24px;
}